<section class="Home-title">
  <a class="AppHeader-title">The Todo Manager</a>
  <div class="UserInfo"></div>
</section>

<main class="App">
  <section class="Home-section">
    <p class="App-message">
      You have to be signed-in to start managing your todos.
    </p>
  </section>

  <section class="Home-section">
    <h2 class="Section-title">New to the Todo Manager?</h2>
    <p>
      <a class="App-link" href="/users/new">Sign-up for a new account</a>
    </p>
  </section>

  <section class="Home-section">
    <h2 class="Section-title">Already have an account?</h2>
    <p>
      <a class="App-link" href="/signin">Sign-in</a>
    </p>
  </section>
</main>
